<ion-header>
  <ion-toolbar color="warning" class="ion-text-center">
    <ion-title>Recommended Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="video-background fixed">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="card video-shadow">
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/UQg9LyMY-Mg"
          frameborder="0"
          width="560"
          height="315"
        ></iframe>
      </div>
    </ion-slide>

    <ion-slide class="card video-shadow">
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/dC9JeAko-Lo"
          frameborder="0"
          width="560"
          height="315"
        ></iframe>
      </div>
    </ion-slide>

    <ion-slide class="card video-shadow">
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/ZKyToaaM0xw"
          frameborder="0"
          width="560"
          height="315"
        ></iframe>
      </div>
    </ion-slide>

    <ion-slide class="card video-shadow">
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/XHxEgtJ-i2c"
          frameborder="0"
          width="560"
          height="315"
        ></iframe>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
