.video-background {
  background-color: rgb(200, 0, 0);
}

.video-shadow {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgb(0, 0, 0);
}
.video-container {
  position: relative;
  padding-bottom: 65%;
  /*padding-top: 50px;*/
  height: 0;
  overflow: hidden;
}

.video-container object,
.video-container embed {
  position: absolute;
  padding: 15px 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

/* 4x3 Aspect Ratio */
.video-container-4x3 {
  padding-top: 75%;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}
iframe[src*="youtube"] {
  width: 350px;
  height: 270px;
}

ion-slide {
  padding: 100px 12px;
  display: block;
}
.fixed[scrollx="true"] .fixed {
  width: 100%;
  height: 70%;
}
