<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Inspire Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="video-background">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="card video-shadow">
      <div class="video-container">
        <img src="assets/images/quote1.png" alt="Essentials logo" />
      </div>
    </ion-slide>

    <ion-slide class="card video-shadow">
      <div class="video-container">
        <img src="assets/images/quote2.png" alt="Essentials logo" />
      </div>
    </ion-slide>

    <ion-slide class="card video-shadow">
      <div class="video-container">
        <img src="assets/images/quote3.png" alt="Essentials logo" />
      </div>
    </ion-slide>

    <ion-slide class="card video-shadow">
      <div class="video-container">
        <img src="assets/images/quote4.png" alt="Essentials logo" />
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
