<ion-header>
  <ion-toolbar color="warning" class="ion-text-center">
    <ion-title>Inspire Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fixed">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="card ">
      <div>
        <img src="assets/images/quote1.png" alt="Essentials logo" />
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <img src="assets/images/quote2.png" alt="Essentials logo" />
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <img src="assets/images/quote3.png" alt="Essentials logo" />
      </div>
    </ion-slide>

    <ion-slide>
      <div>
        <img src="assets/images/quote4.png" alt="Essentials logo" />
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
