<ion-header>
  <ion-toolbar>
    <ion-title color="warning" class="ion-text-center">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-logo></app-logo>
  <ion-item class="ion-text-center">
    <ion-label (click)="navigatePayment()" class="my-label">
      Payment
      <ion-icon name="card" slot="start" class="my-label"></ion-icon>
    </ion-label>
  </ion-item>
  <ion-item class="ion-text-center">
    <ion-label (click)="show()" class="my-label">
      Help
      <ion-icon name="help-circle" slot="start" class="my-label"></ion-icon>
    </ion-label>
  </ion-item>
  <ion-item [hidden]="visible">
    <ion-card>
      <ion-item>
        <ion-icon name="card" slot="start"></ion-icon>
        <ion-label>Payment History</ion-label>
      </ion-item>

      <ion-card-content>
        Gives lenders an idea of your overall payment history and shows how many
        late payments you have missed.
        <br />
        <br />
        Even if you can’t make the full payment on a credit card, just paying
        down the minimum (usually $35) will avoid any mispayment on your credit
        report. You still want to pay off the full amount just to avoid any
        interest
        <br />
        <br />
        A long record of on-time payments shows lenders that you are responsible
        and timely
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item [hidden]="visible">
    <ion-card>
      <ion-item>
        <ion-icon name="logo-usd" slot="start"></ion-icon>
        <ion-label>Utilization Rate</ion-label>
      </ion-item>

      <ion-card-content>
        Utilization rate is how much you owe compared to how much you are
        allowed to spend on your credit card .
        <br />
        <br />
        Every month, credit card companies and banks send a report, you can
        think of it as a snapshot, to the three credit bureaus (usually on the
        same day every month). For example, if your credit limit is $1000(how
        much you’re allowed to spend) and on that day you have a balance of
        $500(amount owed), that means 50% of your credit has been utilized. You
        want to stay below 11% utilization rate to get the maximum amounts of
        points from this category.
        <br />
        <br />
        If you pay off your balance immediately and not wait till the end of the
        month, you can avoid a higher utilization rate which will improve your
        score
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item [hidden]="visible">
    <ion-card>
      <ion-item>
        <ion-icon name="cash" slot="start"></ion-icon>
        <ion-label>Age of Credit</ion-label>
      </ion-item>

      <ion-card-content>
        This category averages the ages of all your accounts, credit cards,
        mortgages, and other loans.
        <br />
        <br />
        Lenders normally would like to see that you have experience with using
        credit reliably.
        <br />
        <br />
        For example, if you have 1 credit card with 10 years of credit and later
        down the road you decided to get another loan now your average age
        between the two is now 5 years.
        <br />
        <br />
        Age of credit is also one of the slowest to improve because it requires
        the most time.
        <br />
        <br />
        This is why it’s so important to start when you’re young. As soon as you
        turn 18 you are allowed to open up your own credit card to begin
        building history
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item [hidden]="visible">
    <ion-card>
      <ion-item>
        <ion-icon name="pricetags" slot="start"></ion-icon>
        <ion-label>Derogatory marks</ion-label>
      </ion-item>

      <ion-card-content>
        Sometimes referred to as a hard inquiry. Anytime a company ask for your
        permission to check your credit worthiness using your social security,
        it will count towards your score..
        <br />
        <br />
        Too many hard inquiries will affect your score negatively. Inquires
        drops off your report after two years meaning your score will recover.
        <br />
        <br />
        This means that opening too many credit cards in the same month will
        affect your score negatively in the short run, but will improve after
        the two years are up.
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item [hidden]="visible">
    <ion-card>
      <ion-item>
        <ion-icon name="logo-bitcoin" slot="start"></ion-icon>
        <ion-label>Total of Accounts</ion-label>
      </ion-item>

      <ion-card-content>
        Refers to how many credit cards, mortgages, car loans, student loans and
        any other accounts you have.
        <br />
        <br />
        The more accounts you have, the better your score will be
        <br />
        <br />
        Credit cards are one of the easiest way to build your credit
      </ion-card-content>
    </ion-card>
  </ion-item>
  <ion-item class="ion-text-center">
    <ion-label (click)="contactshow()" class="my-label">
      Contact Us
      <ion-icon name="contacts" slot="start" class="my-label"></ion-icon>
    </ion-label>
  </ion-item>

  <div class="ion-text-center" [hidden]="contactVisible">
    <ion-card>
      <ion-item>
        <ion-icon name="contact" slot="start"></ion-icon>
        <ion-label>Contact Us</ion-label>
      </ion-item>

      <ion-card-content>
        Name <ion-icon name="person"></ion-icon> : Long Nguyen
        <br />
        <br />
        Phone <ion-icon name="call"></ion-icon> : +1 716-603-0963
        <br />
        <br />
        Email <ion-icon name="mail"></ion-icon> : nguyen27@buffalo.edu
      </ion-card-content>
    </ion-card>
  </div>

  <ion-item class="ion-text-center">
    <ion-label (click)="navigateAboutUs()" class="my-label">
      About Us
      <ion-icon
        name="information-circle"
        slot="start"
        class="my-label"
      ></ion-icon>
    </ion-label>
  </ion-item>

  <ion-footer>
    <app-signout></app-signout>
  </ion-footer>
</ion-content>
