<ion-slides pager="true" [options]="slideOpts">
    
  <ion-slide>
      
    <h2>Welcome to Essentials</h2>
    <br>
    <p>A must have guide to manage your finances !!</p>
    
  </ion-slide>
  <ion-slide>
      
    <h2>Not sure how to manage your finances ?</h2>
    <br>
    <p>Give us chance to help you.</p>
    
  </ion-slide>
  <ion-slide>
      
    <h2>Learn about the importance of credit score</h2>
    <br>
    <p>All this and much more, Join us !! </p>
    
  </ion-slide>
</ion-slides>