<ion-header>
    <ion-toolbar color = 'warning'>
      <ion-title>Register User</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <br>
      <br>
    <app-logo></app-logo>
    <br>
    <br>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position = "stacked">Email</ion-label>
        <ion-input type = "text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position = "stacked">Username</ion-label>
          <ion-input type = "text"></ion-input>
        </ion-item>
      <ion-item>
          <ion-label position = "stacked">Password</ion-label>
          <ion-input type = "password"></ion-input>
        </ion-item>
        <br>
        <br>
        <ion-button expand = "block" shape = "round" color ="warning">Register</ion-button>
        <br>
        <ion-item lines ='none'>
            <a routerLink='/login'>Sign in</a>
          </ion-item>
    </ion-list>
  </form>
  </ion-content>
  