<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"> </ion-menu-button>
    <ion-title color="warning" class="ion-text-center">
      Feed
      <ion-button
        class="ion-float-right round"
        color="warning"
        (click)="navigateToUserPage()"
      >
        <ion-icon name="contact"> </ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-logo></app-logo>
  <app-quotes></app-quotes>
  <app-links></app-links>
  <app-yoututbe-slides></app-yoututbe-slides>
  <app-credit></app-credit>
</ion-content>
