<ion-header>
  <ion-toolbar>
    <ion-title color="warning" class="ion-text-center">Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <app-logo></app-logo>
  <ion-button
    color="warning"
    (click)="writeComment()"
    (ionRefresh)="doRefresh($event)"
  >
    Add question
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let type of questions">
      <button ion-button full color="light" (click)="getComments(type)">
        {{ type.title }}
      </button>
    </ion-item>
  </ion-list>
</ion-content>
