<ion-content>
  <div class="fixed ion-color-special">
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="medium">
        <ion-tab-button tab="feed">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
          <ion-icon name="cog"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="messages">
          <ion-icon name="mail"></ion-icon>
          <ion-label>Messages</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </div>
</ion-content>
